<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="jumbotron center">
  <h1 class="headline">Welcome to Alpha Blog</h1>

<%= link_to 'Sign Up Now!', '#', class: 'btn btn-primary btn-lg btn-xlarge' %>
</div>